<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.90" targetFramework="net472" />
  <package id="Dapper.SimpleCRUD" version="2.3.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net472" />
  <package id="shortid" version="3.0.1" targetFramework="net472" />
</packages>